/*FR1 Navbar Starts Tauras*/
.navbar {
    background-color: rgb(135, 80, 156);
}

.navbar .active {
    background-color: rgb(98, 56, 119);
}

.navbar a:hover {
    background-color: rgb(98, 56, 119);
}

.navbar a {
    font-size: 0.88rem;
}

.navbar .container img {
    width: 15%;
}
/*FR1 Navbar Ends*/
/*FR2 Starts Tauras*/
#opening {
    background-color: rgb(135, 80, 156);
}

#opening div div div div button {
    margin-top: 3rem;
    margin-bottom: 10rem;
    background-color: rgb(235, 125, 75);
    padding: 1.4rem 5.6rem;
    color: white;
    box-shadow: 0 3px rgb(200, 105, 64);
}
/*FR2 Ends Tauras*/
/* Services <!-- FR3 Start Arnestas--> */
#services {
    padding-bottom: 100px;
    background: #17C2A4;
}

.services_h2 {
    margin-top: 110px;
    color: #FFF;
}

.service_line {
    background: #15AA90;
}

.iconbox_title {
    margin: 20px 0 10px;
    color: #FFF;
}

.iconbox_desk {
    margin: 0px 20px 15px;
    color: #FFF;
}

.services_subtitle {
    margin-bottom: 60px;
    color: #FFF;
}

/* Services end <!-- FR3 End Arnestas--> */

/* <!-- FR4 Start Raminta--> */
 body {
    height: 100vh;
    background-color: rgb(232, 234, 252);
    align-content: center;
  }
  
  main .under {
    margin-left: 47%;
    width: 6%;
    align-items: center;
    border: 2px solid rgb(144, 140, 140);
  }
  main .container{
    margin-top: 5rem;
    padding-bottom: 5rem;
    
  }
  main img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  main .grey{
    margin-top: 5rem;
    margin-bottom: 3rem;
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }

  main a{
    text-decoration: none;
  }

  main h6{
    color: rgb(73, 196, 238);
  }

  main p{
    padding-top: 9px;
  }

/* <!-- FR4 End Raminta--> */
/* <!-- FR5 Start Roberta--> */
#skills {
    background: #fff;
    padding-top: 7%;  
    padding-bottom: 6%;   
}

.skills2{       
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-bottom: 2%;
    color: #172b4d;  
}

.line{
    margin-left: 46%;
    width: 10%;
    align-items: center;
    border: 2px solid rgba(128, 126, 126, 0.877);
}

.Description{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 5%;
    text-align: center;
    font-size: 25px;  
	color: #172b4d;
	font-weight: 400;    
    
}
.name1{  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;                   
    text-indent: 15mm; 
    margin-top: 0.5cm;
    font-weight: bold;
    color: #172b4d;

    
}
.name2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;                   
    text-indent: 20mm; 
    margin-top: 0.5cm;
    font-weight: bold;
    color: #172b4d; 
}
.name3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;                   
    text-indent: 10mm; 
    margin-top: 0.5cm;
    font-weight: bold;
    color: #172b4d; 
}
.name4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;                   
    text-indent: 29mm; 
    margin-top: 0.5cm;
    font-weight: bold;
    color: #172b4d;
} 

.progress-bar{
    background-color: #e4f0f6;  
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    left: 2cm;
    
}
.inner-circle{
   
    width: 120px;
    height: 120px;
    background-color: white;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    color: #172b4d;
    
    
}
.spa{
    font-family: 'Titillium Web', sans-serif!important;
    height: 20px;
    font-size: 21px;

}
.circle {
    
    stroke-dasharray: 410;
    stroke-dashoffset: 410;
    transform: rotate(-90deg);
    animation: bar-fill 8s linear forwards; 
}
.circle1 {
    stroke-dasharray: 410;
    stroke-dashoffset: 410;
    transform: rotate(-90deg);
    animation: bar-fill1 8s linear forwards;  
    
}
.circle2 {
    stroke-dasharray: 410;
    stroke-dashoffset: 410;
    transform: rotate(-90deg);
    animation: bar-fill2 8s linear forwards;  
}
.circle3 {    
    stroke-dasharray: 410;
    stroke-dashoffset: 410;
    transform: rotate(-90deg);
    animation: bar-fill3 8s linear forwards;  
}


@property --num {
    
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
    
  }
  
  .nr1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: --num 5s;
    counter-set: num var(--num);
    font-size: 41px;
    color: #172b4d;
  }
  .nr1::after {
    content: counter(num);
  }
  .nr1:hover {      
    
    --num: 90;
  }



  .nr2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: --num 5s;
    counter-set: num var(--num);
    font-size: 41px;
    color: #172b4d;
  }
  .nr2::after {
    content: counter(num);
  }
  .nr2:hover {
    --num: 75;
  }

  .nr3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: --num 5s;
    counter-set: num var(--num);
    font-size: 41px;
    color: #172b4d;
  }
  .nr3::after {
    content: counter(num);
  }
  .nr3:hover {
    --num: 70;
  }
  .nr4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: --num 5s;
    counter-set: num var(--num);
    font-size: 41px;
    color: #172b4d;
  }
  .nr4::after {
    content: counter(num);
  }
  .nr4:hover {
    --num: 85;
  }


@keyframes bar-fill {
    100% {
        
        stroke-dashoffset: 41;
    }
}
@keyframes bar-fill1 {
    100% {
        stroke-dashoffset: 102.5;
    }
}
@keyframes bar-fill2 {
    100% {
        stroke-dashoffset: 123;
    }
}
@keyframes bar-fill3 {
    100% {
        stroke-dashoffset: 61.5;
    }
}

/* <!-- FR5 End Roberta--> */
/* <!--FR6 Start Giedrius--> */
#portfolio {
    background: #FFDD99;
}

.portfolio_h2 {
    letter-spacing: .2rem;
    word-spacing: 0.2rem;
    color: #393939;
}

.portfolio_line {
    background: #E5C37F;
    width: 85px;
    height: 4px;
    margin: 20px auto;
    border: none!important;
}

.portfolio_subtitle {
    font-size: 1.1em;
    color: #393939;
}

.port_btn {
    font-size: 0.7em;
    text-align: justify-center;
    width: 70px;
    height: 35px;
    background: #EBC985;
    color: #393939;
    margin-bottom: 50px;
    font-weight: bold;
    padding-top: 10px;
    border: none!important;
}

.portfolio_pills > ul > li > a:hover {
    background: #FFF;
}

.portfolio_computer-title {
    margin-top: 10px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 0.7em;
}

.portfolio_btn {
    margin: 50px 0 140px;
    width: 200px;
    height: 45px;
    font-size: 0.8em;
    text-transform: uppercase;
    background: #17C2A4;
    color: #FFF;
    box-shadow: 0 4px 0 #14A58C;
}

.portfolio_btn:hover {
    background: #139c84;
    color: #0a6564;
}

/*<!--FR6 End Giedrius-->*/

#reviews hr {
    background-color: rgb(181, 61, 109);
    color: rgb(181, 61, 109);
    width: 5rem;
    border: 2px solid rgb(181, 61, 109);
    opacity: 1;
}

#reviews {
    background-color: rgb(215, 70, 129);
}

/* Footer(F8) Start */
.footer {
    background-color: rgb(60, 84, 154);
    color: rgb(255, 253, 255)
}

.footer h2 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    word-spacing: .2rem;
}

.footer hr {
    background-color: rgb(39, 59, 110);
    color: rgb(39, 59, 110);
    width: 5rem;
    border: 2px solid rgb(39, 59, 110);
    opacity: 1;
}

.footer form {
    width: 50%!important;
}

.footer .container .row div input,
.footer .container .row div textarea {
    background-color: rgb(39, 59, 110);
    color: rgb(255, 253, 255);
    border: 0;
}

.footer .container .row div textarea {
    min-height: calc(12.5em + 0.75rem + 2px);
}

.footer .container .row div label {
    color: rgb(255, 253, 255);
}

.footer .container .row div button {
    border: 0;
    padding-left: 4.4rem;
    padding-right: 4.4rem;
    color: rgb(255, 253, 255);
    text-transform: uppercase;
    background-color: rgb(48, 186, 232);
    box-shadow: 0 3px rgb(40, 158, 194);
}

.footer .container .row div button:active {
    box-shadow: 0 3px rgb(40, 158, 194);
}

@media only screen and (max-width: 768px) {
    .footer form {
      width: 100%!important;
    }
}

#footer-navigation {
    background-color: rgb(52, 75, 142);
}

footer nav a {
    color: rgb(255, 253, 255)!important;
}

footer nav {
    width: 60%;
}

footer nav a:hover {
    color: rgb(52, 182, 228)!important;
}

.titillium-bold {
    font-family: 'Titillium Web', sans-serif!important;
    font-weight: 700!important;
}

.titillium-semi-bold {
    font-family: 'Titillium Web', sans-serif!important;
    font-weight: 600!important;
}

.titillium-regular {
    font-family: 'Titillium Web', sans-serif!important;
    font-weight: 400!important;
}
/* Footer(F8) End */
