body {
    height: 100vh;
    background-color:#e7f1f8;
    align-content: center;
  }
  
  hr {
    margin-left: 47%;
    width: 6%;
    align-items: center;
    border: 2px solid rgb(144, 140, 140);
  }
  .container{
    margin-top: 5rem;
    padding-bottom: 5rem;
    
  }
  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .grey{
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }

  a{
    text-decoration: none;
  }

  h6{
    color: rgb(73, 196, 238);
  }